<html lang="en"><head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reaction</title> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script> 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.lordicon.com/libs/mssddfmo/lord-icon-2.1.0.js"></script>
    <link rel="stylesheet" href="/css/reactions.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/navbarfinal.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  </head>
  
  <body>
    <script src="/js/navbar.js"></script>
      <nav class="navbar navbar-expand-custom navbar-mainbg">
        <img src="/assets/o2.png" style="width: 30px; height: 30px; margin-left: 10px;">
        <a class="navbar-brand navbar-logo" href="#">ChemStudy</a>  
        <button
          class="navbar-toggler"
          type="button"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars text-white"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <div class="hori-selector">
              <div class="left"></div>
              <div class="right"></div>
            </div>
            <li class="nav-item">
              <a class="nav-link" href="/"
                ><i class="fas fa-tachometer-alt"></i>Dashboard</a
              >
            </li>
            <li class="nav-item active">
              <a class="nav-link active" href="/chapter"
                ><i class="far fa-address-book"></i>Chapters</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/quiz"
                ><i class="far fa-clone"></i>Quiz</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact"
                ><i class="far fa-calendar-alt"></i>Contact US</a
              >
            </li>
          </ul>
        </div>
      </nav>
    <!-- <div>
      <ul class="cards">
          <h1>Stephans Reaction</h1>
        <li>
          <a href="" class="card" style="border: none;"> 
            <iframe style="width: 100%; height: 520px;" frameborder="0" 
            src="https://embed.molview.org/v1/?mode=balls&cid=77935&bg=gray"></iframe>
  
            
            <div class="card__overlay">
              <div class="card__header"> 
                <div class="card__header-text">
                  <h3 class="card__title">
                    <p class="lead">Ester aldehyde</p>
                  </h3>
                  
                </div>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="" class="card" style="border: none;"> 
            
            <iframe style="width: 100%; height: 520px;" frameborder="0" 
            src="https://embed.molview.org/v1/?mode=balls&cid=70106&bg=gray">
            </iframe>
            
            <div class="card__overlay">
              <div class="card__header"> 
                <div class="card__header-text">
                  <h3 class="card__title">
                    <p class="lead">Vanilin</p>
                  </h3>
                  
                </div>
              </div>
            </div>
          </a>
        </li>
        
       
      </ul>
      <ul class="cards">
        <h1>Rosenmond Reaction</h1>
      <li>
        <a href="" class="card" style="border: none;"> 
          <iframe style="width: 100%; height: 520px;" frameborder="0" 
          src="https://embed.molview.org/v1/?mode=balls&cid=7412&bg=gray"></iframe>

          
          <div class="card__overlay">
            <div class="card__header"> 
              <div class="card__header-text">
                <h3 class="card__title">
                  <p class="lead">Ester aldehyde</p>
                </h3>
                
              </div>
            </div>
          </div>
        </a>
      </li>
      <li>
        <a href="" class="card" style="border: none;"> 
          
          <iframe style="width: 100%; height: 520px;" frameborder="0" 
          src="https://embed.molview.org/v1/?mode=balls&cid=240&bg=gray">
          </iframe>
          
          <div class="card__overlay">
            <div class="card__header"> 
              <div class="card__header-text">
                <h3 class="card__title">
                  <p class="lead">Vanilin</p>
                </h3>
                
              </div>
            </div>
          </div>
        </a>
      </li>
      <li>
        <h1 class="sign">+</h1>
      </li>
      
      <li>
        <a href="" class="card" style="border: none;"> 
          <iframe style="width: 100%; height: 520px;" frameborder="0" 
          src="https://embed.molview.org/v1/?mode=balls&cid=313&bg=gray"></iframe>

          
          <div class="card__overlay">
            <div class="card__header"> 
              <div class="card__header-text">
                <h3 class="card__title">
                  <p class="lead">Ester aldehyde</p>
                </h3>
                
              </div>
            </div>
          </div>
        </a>
      </li>
    </ul>
    
    <ul class="cards">
        <h1>Gatterman-Koch Reaction</h1>
      <li>
        <a href="" class="card" style="border: none;"> 
          <iframe style="width: 100%; height: 520px;" frameborder="0" 
          src="https://embed.molview.org/v1/?mode=balls&cid=241&bg=gray"></iframe>

          
          <div class="card__overlay">
            <div class="card__header"> 
              <div class="card__header-text">
                <h3 class="card__title">
                  <p class="lead">Ester aldehyde</p>
                </h3>
                
              </div>
            </div>
          </div>
        </a>
      </li>
      <h1 class="sign">+</h1>
      <li>
        <a href="" class="card" style="border: none;"> 
          
          <iframe style="width: 100%; height: 520px;" frameborder="0" 
          src="https://embed.molview.org/v1/?mode=balls&cid=240&bg=gray">
          </iframe>
          
          <div class="card__overlay">
            <div class="card__header"> 
              <div class="card__header-text">
                <h3 class="card__title">
                  <p class="lead">Vanilin</p>
                </h3>
                
              </div>
            </div>
          </div>
        </a>
      </li>
      
     
    </ul>
    </div> -->
    
    <div class="container">
      <section class="row">
        <h1 class="col-12 pt-5 text-center">
          Stephans Reaction
        </h1>
        <div class="col-md-5 rxn">
          <iframe style="width: 100%; height: 330px;" frameborder="0" 
          src="https://embed.molview.org/v1/?mode=balls&cid=77935&bg=black"></iframe>
        </div>
        <div class="col-md-2 rxn"> 
          <p>
            <i>SnCl2/HCL</i>
            <i class="fas fa-arrow-right d-block" style="font-size: 40px;"></i> 
            <i>H20</i>
          </p>
        </div>
        <div class="col-md-5 rxn">
          <iframe style="width: 100%; height: 330px;" frameborder="0" 
          src="https://embed.molview.org/v1/?mode=balls&cid=70106&bg=black">
          </iframe>
        </div>
      </section>

      <section class="row">
        <h1 class="col-12 pt-5 text-center">
          Rosenmond Reaction
        </h1>
        <div class="col-md-3 rxn"> 
<iframe style="width: 100%; height: 330px;" frameborder="0" 
          src="https://embed.molview.org/v1/?mode=balls&cid=7412&bg=black"></iframe>
        </div>
        <div class="col-md-2 rxn"> 
          <p>
            <i>H2</i>
            <i class="fas fa-arrow-right d-block" style="font-size: 40px;"></i> 
            <i>Pd-BaSo4</i>
          </p>
        </div> 
        <div class="col-md-3 rxn">
          <iframe style="width: 100%; height: 330px;" frameborder="0" 
          src="https://embed.molview.org/v1/?mode=balls&cid=240&bg=black">
          </iframe>
        </div>
        <div class="col-md-1 rxn"> 
          <p><i class="fa fa-plus" aria-hidden="true"></i></p>
        </div>
        <div class="col-md-3 rxn">
          <iframe style="width: 100%; height: 330px;" frameborder="0" 
          src="https://embed.molview.org/v1/?mode=balls&cid=313&bg=black"></iframe>
        </div>
      </section>


      <section class="row">
        <h1 class="col-12 pt-5 text-center">
          Gatterman-Koch Reaction
        </h1>
        <div class="col-md-5 rxn">
          <iframe style="width: 100%; height: 330px;" frameborder="0" 
          src="https://embed.molview.org/v1/?mode=balls&cid=241&bg=black"></iframe>
        </div>
        <div class="col-md-2 rxn"> 
          <p>
            <i>Co,HCL</i>
            <i class="fas fa-arrow-right d-block" style="font-size: 40px;"></i> 
            <i>AlCl3,Cu2Cl2</i>
          </p>
        </div>
        <div class="col-md-5 rxn">
          <iframe style="width: 100%; height: 330px;" frameborder="0" 
          src="https://embed.molview.org/v1/?mode=balls&cid=240&bg=black">
          </iframe>
        </div>
      </section>

    </div>
    
    
    <div class="button1">
      <a href="/chapter"><button type="button" class="btn btn-primary" >Back to Chapters</button></a>
    </div>
    <footer class="footer-20192">
      <div class="site-section">
        <div class="container">
          <div class="cta d-block d-md-flex align-items-center px-5">
            <div>
              <h2 class="mb-0">Ready for a next project?</h2>
              <h3 class="text-dark">Let's get started!</h3>
            </div>
            <div class="ml-auto">
              <a href="/contact" class="btn btn-dark rounded-0 py-3 px-5">Contact us</a>
            </div>
          </div>
          <div class="row">
            <div class="col-sm">
              <a href="/" class="footer-logo">ChemStudy</a>
              <p class="copyright">
                <small>&copy; 2019</small>
              </p>
            </div>
            <div class="col-sm">
              <h3>Customers</h3>
              <ul class="list-unstyled links">
                <li><a href="#">Buyer</a></li>
                <li><a href="#">Supplier</a></li>
              </ul>
            </div>
            <div class="col-sm">
              <h3>Company</h3>
              <ul class="list-unstyled links">
                <li><a href="#">About us</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Contact us</a></li>
              </ul>
            </div>
            <div class="col-sm">
              <h3>Further Information</h3>
              <ul class="list-unstyled links">
                <li><a href="#">Terms &amp; Conditions</a></li>
                <li><a href="#">Privacy Policy</a></li>
              </ul>
            </div>
            <div class="col-md-3">
              <h3>Follow us</h3>
              <ul class="list-unstyled social">
                <li>
                  <a href="#"><span class="icon-facebook"></span></a>
                </li>
                <li>
                  <a href="#"><span class="icon-twitter"></span></a>
                </li>
                <li>
                  <a href="#"><span class="icon-linkedin"></span></a>
                </li>
                <li>
                  <a href="#"><span class="icon-medium"></span></a>
                </li>
                <li>
                  <a href="#"><span class="icon-paper-plane"></span></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>    
  
  
  </body></html>